<div class="container pfy-playlists-page">
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 HEADER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="section-header">
    <div class="section-title">
      <h1>Playlisfy</h1>
      <p>
        Effortlessly craft playlists that perfectly match your vibe. Whether you’re seeking upbeat energy, chill
        moments, or a deep dive into melancholic melodies, this app organizes your favorite songs into playlists
        tailored by mood, genre, and ambiance. Simply select your settings, let the app do the work, and create
        playlists that turn every moment into a soundtrack.
      </p>
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                             SPOTIFY HISTORY                             -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="section-spotify-history">
    <!-- -------------------------------- Title -------------------------------- -->
    <div class="section-title">
      <h2>History</h2>
      <p>
        In order to get your Spotify history, go to this page http:/localhost:4200/import-spotify-history and follow the
        instructions.
      </p>
    </div>

    <!-- ----------------------------- File Upload ----------------------------- -->
    <div
      class="spotify-history-dropzone"
      role="button"
      (click)="spotifyHistoryFilesRef.click()"
      for="spotify-history-file"
      pfyDragAndDrop
      (filesDropped)="setSpotifyHistoryFiles($event)"
    >
      <input
        type="file"
        class="d-none"
        accept="application/json"
        multiple
        #spotifyHistoryFilesRef
        (change)="onSpotifyHistoryFilesBrowsed($event)"
      />

      <i class="fa-solid fa-file-arrow-up fs-1"></i>
      <p>Drag and drop your Spotify history file here or click to upload.</p>
    </div>

    <!-- -------------------------------- Files -------------------------------- -->
    <div *ngIf="spotifyHistoryFiles.length > 0" class="spotify-history-dropzone-result">
      @for (file of spotifyHistoryFiles; track file; let i = $index) {
      <div class="spotify-history-dropzone-result-row">
        <!-- File Information -->
        <p class="spotify-history-dropzone-result-row-file-info">
          <span class="spotify-history-dropzone-result-row-file-size">
            {{ formatBytes(file.size) }}
          </span>
          <span class="spotify-history-dropzone-result-row-file-name">
            {{ file.name }}
          </span>
        </p>

        <!-- Remove Button -->
        <button class="btn btn-icon-spotify-green" (click)="removeSpotifyHistoryFile(i)">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      }
    </div>
  </section>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                SETTINGS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <section class="section-settings">
    <!-- -------------------------------- Title -------------------------------- -->
    <div class="section-title">
      <h2>Settings</h2>
    </div>

    <!-- -------------------------------- Cards -------------------------------- -->
    <form class="setting-cards" (submit)="onSubmit($event)">
      <!------- Play Criteria ------->
      <div [class]="settingCardItemClasses[0]">
        <!-- Explanation -->
        <div class="setting-cards-item-explanation">
          <input class="setting-cards-item-title" type="text" placeholder="Setting" [defaultValue]="'Play Criteria'" />
          <textarea
            class="setting-cards-item-description"
            [defaultValue]="
              'Defines what counts as a “play” for a song. This can be based on a specific time in seconds or as a percentage of the song’s total duration. If a song’s duration falls below this defined time, it will still be eligible for playlist addition unless it fails to meet the “Minimal Song Duration” requirement'
            "
          >
          </textarea>
        </div>

        <!-- Input -->
        <div class="setting-cards-item-inputs">
          <input
            name="playCriteriaDuration"
            [(ngModel)]="settings.playCriteriaDuration"
            type="number"
            class="form-control"
            placeholder="25"
            min="0"
            step="1"
          />
          <select
            name="playCriteriaDurationType"
            [(ngModel)]="settings.playCriteriaDurationType"
            class="form-select"
            role="button"
          >
            <option value="percent">percent</option>
            <option value="seconds">seconds</option>
          </select>
        </div>
      </div>

      <!------- Minimal Song Duration ------->
      <div [class]="settingCardItemClasses[1]">
        <!-- Explanation -->
        <div class="setting-cards-item-explanation">
          <input
            class="setting-cards-item-title"
            type="text"
            placeholder="Setting"
            [defaultValue]="'Minimal Song Duration'"
          />
          <textarea
            class="setting-cards-item-description"
            [defaultValue]="'Sets the minimum song length required for a song to be eligible for playlist addition.'"
          >
          </textarea>
        </div>

        <!-- Input -->
        <div class="setting-cards-item-inputs">
          <div class="input-group">
            <input
              name="minimalSongDuration"
              [(ngModel)]="settings.minimalSongDuration"
              type="number"
              class="form-control"
              min="0"
              step="1"
              placeholder="20"
              #minimalSongDurationInputRef
            />
            <span class="input-group-text" role="button" (click)="minimalSongDurationInputRef.focus()">seconds</span>
          </div>
        </div>
      </div>

      <!------- After Date ------->
      <div [class]="settingCardItemClasses[2]">
        <!-- Explanation -->
        <div class="setting-cards-item-explanation">
          <input class="setting-cards-item-title" type="text" placeholder="Setting" [defaultValue]="'After date'" />
          <textarea
            class="setting-cards-item-description"
            [defaultValue]="
              'Sets a specific start date so that only song plays occurring after this date are counted toward playlist criteria. This ensures that older plays aren’t considered, allowing playlists to reflect recent listening activity or trends.'
            "
          >
          </textarea>
        </div>

        <!-- Input -->
        <div class="setting-cards-item-inputs">
          <input name="afterDate" [(ngModel)]="settings.afterDate" class="form-control" type="date" role="button" />
        </div>
      </div>

      <!------- Minimal Play Count ------->
      <div [class]="settingCardItemClasses[3]">
        <!-- Explanation -->
        <div class="setting-cards-item-explanation">
          <input
            class="setting-cards-item-title"
            type="text"
            placeholder="Setting"
            [defaultValue]="'Minimal Play Count'"
          />
          <textarea
            class="setting-cards-item-description"
            [defaultValue]="
              'Specifies the minimum number of plays a song must reach before it can be added to a playlist.'
            "
          >
          </textarea>
        </div>

        <!-- Input -->
        <div class="setting-cards-item-inputs">
          <input
            name="minimalPlayCount"
            [(ngModel)]="settings.minimalPlayCount"
            class="form-control"
            type="number"
            placeholder="1"
            min="0"
            step="1"
          />
        </div>
      </div>

      <!------- Maximum Skips ------->
      <div [class]="settingCardItemClasses[4]">
        <!-- Explanation -->
        <div class="setting-cards-item-explanation">
          <input class="setting-cards-item-title" type="text" placeholder="Setting" [defaultValue]="'Maximum Skips'" />
          <textarea
            class="setting-cards-item-description"
            [defaultValue]="
              'Specifies the maximum allowable skips (or skip rate) for a song before it becomes ineligible for playlist addition. Once this threshold is exceeded, the song will no longer qualify'
            "
          >
          </textarea>
        </div>

        <!-- Input -->
        <div class="setting-cards-item-inputs">
          <input
            name="maximumSkipsDuration"
            [(ngModel)]="settings.maximumSkipsDuration"
            type="number"
            class="form-control"
            placeholder="25"
            min="0"
            step="1"
          />
          <select
            name="maximumSkipsDurationType"
            [(ngModel)]="settings.maximumSkipsDurationType"
            class="form-select"
            role="button"
          >
            <option value="percent">percent</option>
            <option value="seconds">seconds</option>
          </select>
        </div>
      </div>

      <!------- Maximum Playlist Length ------->
      <div [class]="settingCardItemClasses[5]">
        <!-- Explanation -->
        <div class="setting-cards-item-explanation">
          <input
            class="setting-cards-item-title"
            type="text"
            placeholder="Setting"
            [defaultValue]="'Maximum Playlist Length'"
          />
          <textarea
            class="setting-cards-item-description"
            [defaultValue]="
              'Set a cap on the number of songs in each playlist to control their length and ensure they stay concise.'
            "
          >
          </textarea>
        </div>

        <!-- Input -->
        <div class="setting-cards-item-inputs">
          <input
            name="maximumPlaylistLength"
            [(ngModel)]="settings.maximumPlaylistLength"
            class="form-control"
            type="number"
            placeholder="100"
            min="0"
            step="1"
          />
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </section>
</div>
