/* -------------------------------------------------------------------------- */
/*                                   IMPORTS                                  */
/* -------------------------------------------------------------------------- */
@import "../../../../scss/variables";
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";

/* -------------------------------------------------------------------------- */
/*                                    STYLE                                   */
/* -------------------------------------------------------------------------- */
.setting-cards {
  // Flexbox
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: map-get($spacers, 3);
  justify-content: space-between;
  align-items: stretch;
}
