<pfy-section
  [title]="{ tag: 'h2', text: 'History' }"
  [subtitle]="
    'In order to get your Spotify history, go to this page http:/localhost:4200/import-spotify-history and follow the instructions.'
  "
>
  <ng-content>
    <!-- ----------------------------- File Upload ----------------------------- -->
    <pfy-drap-and-drop-zone (onNewFiles)="spotifyHistoryFiles = spotifyHistoryFiles.concat($event)"></pfy-drap-and-drop-zone>

    <!-- -------------------------------- Files -------------------------------- -->
    <pfy-list-files
      [files]="spotifyHistoryFiles"
      (onRemoveFile)="spotifyHistoryFiles.splice($event, 1)"
    ></pfy-list-files>
  </ng-content>
</pfy-section>
