/* -------------------------------------------------------------------------- */
/*                                    SCALE                                   */
/* -------------------------------------------------------------------------- */
@for $n from 1 through 5 {
  .scale-#{$n} {
    scale: $n;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    SIZE                                    */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- Width --------------------------------- */
.w-full {
    width: 100vw;
}
.w-fit {
    width: fit-content;
}

/* --------------------------------- Height --------------------------------- */
.h-full {
    height: 100vh;
}
.h-fit {
    height: fit-content;
}